body {
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    padding-top: 40px;
}

.header {
    color: white;
    font-size: 16px;
    margin-bottom: 0px;
    font-family: Arial, sans-serif; 
    z-index: 2;
    margin-top: 20px;
    align-self: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    position: relative;
}

.subheader {
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    position: relative;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-top: 20px;
    position: relative;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255,255,255,0.3);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    backdrop-filter: blur(2px);
}

.button:hover {
    background-color: rgba(255,255,255,0.9);
    color: black;
    text-shadow: none;
}

.button i {
    margin-right: 5px;
    transition-duration: 0.4s;
    color: white;
    position: relative;
    left: -5px;
}

.button:hover i {
    color: black;
}

#discord {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255,255,255,0.3);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    backdrop-filter: blur(2px);
}

#frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
}